.table-view .column-header {
    -fx-background-color: #a0cda0;

}

.table-row-cell:odd {
    -fx-background-color: #e1f1e1;
}

.table-row-cell:selected {
	-fx-selection-bar: #0a826a;
	-fx-background-color: #0a826a;
}

.thumb {
	-fx-background-color: #62b364;
}

.track {
	-fx-background-color: #c8e9ca;
}

.increment-button {
	-fx-background-color: #62b364;
}

 .decrement-button {
	-fx-background-color: #62b364;
}
