
.tab-pane {
	-fx-tab-min-width: 80.0px;
	-fx-border-color: transparent;
	-fx-background-radius: 0;
}

.tab-header-background {
    -fx-background-color: #1b221b;
}

.tab {
	-fx-background-color: #e6efe3;
	-fx-background-radius: 3 9 0 0;
	-fx-border-color: #111612;
}


.tab:selected
{
    -fx-background-color: #111412;
    -fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-text-base-color: white;
}


